<div class="alert alert-danger" ng-if="error">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
  <strong>Error.</strong><span ng-if="!errorMessage"> Please review the problems below</span><span ng-if="errorMessage"> {{errorMessage}}</span>
</div>

<form-input name="identifier" label="Identifier" required="true" property="instance.identifier" type="text" errors="errors.identifier"></form-input>
<form-input name="password" label="Password" required="false" property="instance.password" type="text" errors="errors.password"></form-input>
<div ng-init="instance.provider_name">
  <label>Apple <input name="provider_name" type="radio" label="Apple" " ng-model="instance.provider_name" value="Apple"></label>
  <label>Google <input name="provider_name" type="radio" label="Google" ng-model="instance.provider_name" value="Google"></label>
</div>

<div class="form-actions">
  <input class="btn btn-primary" name="commit" type="submit" value="Submit" ng-click="submit(instance)" ng-disabled="loading" />
  <a href="#/messaging" class="btn"> Return</a>
</div>
